*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html, body, div, li, ul, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 100%;
  user-select: none;
}

body {
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  color: rgba(0, 0, 0, .8);
  background-color: #E9ECEF;
  letter-spacing: .5px;
  font-size: 15px;
  font-weight: 600;
}

ul {
  display: block;
}
li {
  display: inline-block;
  list-style: none;
}

.confirmButton {
  min-width: 180px;
  height: 45px;
  background-color: #f0a639;
  color: #FFFFFF;
  font-weight: 900;
  border-radius: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.confirmButton:disabled {
  background-color: #c7c5c2;
}
.confirmButton:hover:not(:disabled) {
  cursor: pointer;
  background-color: #ffbf5e;
}

input {
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  margin: 10px 10px 10px 20px;
  padding: 10px;
  font-size: 20px;
  width: calc(60% - 20px);
}
input[type='number'] {
  text-align: right;
}
input:focus {
  outline: none;
}

div.error {
  color: #ee3e3e;
  font-size: 14px;
}

header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 15px;
  top: 0;
  text-align: right;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
  header .menuButton {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  header .menuButton:hover {
    cursor: pointer;
    background-color: #ffe0b1;
  }
  header .menuButton.isMenu {
    background-color: #ffe0b1;
  }
  header .menuButton .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/menu.svg) no-repeat;
    transform: translateY(2px);
    background-size: contain;
  }
  header .headerMenu {
    position: absolute;
    top: 50px;
    right: 10px;
    min-width: 200px;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    z-index: 99;
  }
  header .headerMenu li {
    position: relative;
    padding: 10px 10px 15px 10px;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  header .headerMenu li:hover {
    cursor: pointer;
    background-color: #eceff1;
  }
    header .headerMenu li span {
      display: inline-block;
      text-align: left;
      width: calc(60% - 10px);
    }
    header .headerMenu li .icon {
      display: inline-block;
      width: calc(40% - 10px);
      left: 10px;
      height: 25px;
      transform: translateY(7px) translateX(5px);
      background-size: contain;
    }
    header .headerMenu .info .icon {
      background: url(../images/weight.svg) no-repeat;
    }

.sideContent {
  position: fixed;
  display: block;
  min-width: 200px;
  width: calc(20% - 50px);
  height: calc(80% - 30px);
  padding: 15px;
  right: 20px;
  top: 50%;
  transform: translateY(-45%);
  background-color: #FFFFFF;
  z-index: 900;
}

  .wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
  }
    .infoModal {
      position: fixed;
      width: calc(30% - 30px);
      height: calc(68% - 30px);
      min-width: 350px;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      background-color: #FFFFFF;
      box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
      border-radius: 5px;
    }
    .infoModal h1 {
      font-size: 20px;
      padding: 20px 30px;
      font-weight: 900;
      border-bottom: solid 1px rgba(0, 0, 0, .2);
    }
      .infoModal h1 a {
        position: absolute;
        width: 50px;
        height: 50px;
        right: 10px;
        border-radius: 50%;
        transform: translateY(-10px);
        -webkit-transition: all .2s;
        transition: all .2s;
      }
      .infoModal h1 a:hover {
        cursor: pointer;
        background-color: #ffe0b1;
      }
        .infoModal h1 i.closeIcon {
          position: absolute;
          display: inline-block;
          top: 15px;
          left: 15px;
          width: 20px;
          height: 20px;
          background: url(../images/close_color.svg) no-repeat;
          background-size: contain;
        }
    .infoContent {
      width: 100%;
      height: calc(100% - 70px);
    }
      .infoContent form {
        height: auto;
        padding: 20px 30px 20px 30px;
      }
      .infoContent form>div {
        height: auto;
        padding: 0 0 10px 0;
      }
        .infoContent div ul {
          height: auto;
        }
        .infoContent div ul li {
          padding: 0 0 0 20px;
        }
          .infoContent ul li input[type='radio']{
            position: absolute;
            visibility: hidden;
          }
          .infoContent ul li label{
            display: block;
            position: relative;
            padding: 20px 35px;
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
          }
          .infoContent ul li label:hover{
            cursor: pointer;
            color: #f0a639;
          }
          .infoContent ul li input[type='radio']:checked + label {
            cursor: pointer;
            color: #f0a639;
          }
          .infoContent ul li label .check {
            display: block;
            position: absolute;
            border: solid 3px rgba(0, 0, 0, .2);
            left: 0;
            top: 20px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
          }
          .infoContent ul li label .check:after {
            content: '';
            position: absolute;
            display: block;
            left: 1px;
            top: 1px;
            width: 12px;
            height: 12px;
            background-color: #f0a639;
            border-radius: 50%;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
          }
          .infoContent ul li label:hover .check {
            border: solid 3px #f0a639;
          }
          .infoContent ul li input[type='radio']:checked + .check {
            border: solid 3px #f0a639;
          }
          .infoContent ul li input[type='radio']:checked + .check::after {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        .infoContent button {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 20px;
        }

.mainContents {
  display: block;
  padding: 0 0 0 0;
  width: 80%;
  height: 100%;
  position: relative;
}

.meals {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
}
  .meals>h1 {
    display: inline-block;
    position: relative;
    margin: 50px 0 20px 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
    .meals>h1::before {
      content: '';
      position: absolute;
      border-top: solid 3px #333333;
      width: calc(40% - 50px);
      height: 0px;
      top: 50%;
      left: 50px;
    }
    .meals>h1::after {
      content: '';
      position: absolute;
      border-top: solid 3px #333333;
      width: calc(40% - 50px);
      height: 0px;
      top: 50%;
      right: 50px;
    }
    .meals h1 .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      transform: scale(1.5) translateY(2px) translateX(-5px);
      background: url(../images/meals.svg) no-repeat;
      background-size: contain;
    }
  .mealArea {
    display: block;
    position: relative;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 30px 15px 50px 15px;
    float: left;
    overflow: hidden;
    text-align: center;
  }
    .mealBox {
      position: relative;
      margin: 5px;
      padding: 0;
      min-width: 260px;
      min-height: 350px;
      width: calc(15% - 5px);
      height: calc(50% - 15px);
      background-color: #FFFFFF;
      transition: all .5s;
      -webkit-transition: all .5s;
      border-radius: 5px;
    }
    .mealBox:hover {
      transform: translateY(-2px);
      box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    }
      .mealBox h1.mealTitle {
        position: relative;
        margin: 0;
        padding: 10px;
        width: 100%;
        min-height: 50px;
        font-size: 20px;
        color: #FFFFFF;
        border-radius: 5px 5px 0 0;
      }
      .mealBox h1.breakfast {
        background-color: #f0a639;
      }
        .mealBox h1.breakfast .icon {
          display: inline-block;
          width: 25px;
          height: 25px;
          transform: scale(1.5) translateY(5px) translateX(-8px);
          background: url(../images/breakfast.svg) no-repeat;
          background-size: contain;
        }
      .mealBox h1.lunch {
        background-color: #ec794c;
      }
        .mealBox h1.lunch .icon {
          display: inline-block;
          width: 25px;
          height: 25px;
          transform: translateY(3px) translateX(-8px);
          background: url(../images/lunch.svg) no-repeat;
          background-size: contain;
        }
      .mealBox h1.dinner {
        background-color: #4b5dac;
      }
        .mealBox h1.dinner .icon {
          display: inline-block;
          width: 25px;
          height: 25px;
          transform: translateY(3px) translateX(-8px);
          background: url(../images/dinner.svg) no-repeat;
          background-size: contain;
        }
      .mealBox h1.snack {
        background-color: #e6697e;
      }
        .mealBox h1.snack .icon {
          display: inline-block;
          width: 25px;
          height: 25px;
          transform: translateY(3px) translateX(-8px);
          background: url(../images/snack.svg) no-repeat;
          background-size: contain;
        }
     .dropArea {
        position: absolute;
        vertical-align: middle;
        width: calc(100% - 20px);
        height: calc(70% - 10px);
        margin: 10px;
        border: dashed 3px #CCCCCC;
        font-weight: bold;
        color: #999999;
        transition: all .3s;
     }
      .dropArea:hover {
        cursor: pointer;
        background-color: #eceff1;
      }
      .dropArea p {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        width: 100%;
        text-align: center;
      }
    .dispArea {
      position: absolute;
      vertical-align: middle;
      width: calc(100% - 20px);
      height: calc(70% - 10px);
      margin: 10px;
      font-weight: bold;
      transition: all .3s;
    }
    .dispArea:hover {
      cursor: pointer;
      background-color: #eceff1;
    }
    .dispArea p {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform : translate(-50%,-50%);
      transform : translate(-50%,-50%);
      width: 100%;
      text-align: center;
    }
    .meal {
      position: relative;
      margin: 5px;
      padding: 15px;
      width: calc(100% - 5px);
      height: auto;
      color: #FFFFFF;
      background-color: #545261;
      transition: box-shadow .3s;
      transition: background-color .3s;
      -webkit-transition: box-shadow background-color .3s;
      -webkit-transition: background-color .3s;
      border-radius: 5px;
    }
      .meal span {
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #3e3e44;
        transition: background-color .3s;
        -webkit-transition: background-color .3s;
        border-radius: 0 5px 5px 0;
      }
      .meal span:hover {
        background-color: #353538;
      }
        .meal span .closeIcon {
          position: absolute;
          display: inline-block;
          width: calc(100% - 35px);
          height: calc(100% - 35px);
          top: 52%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background: url(../images/close.svg) no-repeat;
          background-size: contain;
        }
    .point {
      position: absolute;
      width: 100%;
      height: 30px;
      bottom: 5px;
    }
      .point span {
        display: inline-block;
        color: #FFFFFF;
        width: calc(15% - 10px);
        padding: 5px;
        margin: 0 5px 0 5px;
        border-radius: 5px;
      }
      .point .stapleFood {
        background-color: #f0a639;
      }
      .point .sideDish {
        background-color: #3f9936;
      }
      .point .mainDish {
        background-color: #e2638d;
      }
      .point .dairyProduct {
        background-color: #a06cc4;
      }
      .point .fruit {
        background-color: #6c6ec4;
      }
      
.menus {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
}
.menus>h1 {
  display: inline-block;
  position: relative;
  margin: 50px 0 20px 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
  .menus>h1::before {
    content: '';
    position: absolute;
    border-top: solid 3px #333333;
    width: calc(40% - 50px);
    height: 0px;
    top: 50%;
    left: 50px;
  }
  .menus>h1::after {
    content: '';
    position: absolute;
    border-top: solid 3px #333333;
    width: calc(40% - 50px);
    height: 0px;
    top: 50%;
    right: 50px;
  }
  .menus h1 .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: scale(1.5) translateY(2px) translateX(-5px);
    background: url(../images/menus.svg) no-repeat;
    background-size: contain;
  }
  .menuArea {
    display: block;
    position: relative;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 15px;
    float: left;
    overflow: hidden;
    text-align: center;
  }
    .menuBox {
      position: relative;
      margin: 5px;
      padding: 15px;
      min-width: 250px;
      width: calc(15% - 5px);
      height: auto;
      color: #FFFFFF;
      background-color: #545261;
      transition: box-shadow .3s;
      transition: background-color .3s;
      -webkit-transition: box-shadow background-color .3s;
      -webkit-transition: background-color .3s;
      border-radius: 5px;
      z-index: 99;
    }
      .menuBox:hover:not(.placeHolder) {
        cursor: grab;
        background-color: #635e7c;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
      }
      .menuBox:active:not(.placeHolder) {
        cursor: grabbing;
      }
    .placeHolder {
      background-color: #d3d7dc;
      z-index: 1;
      padding: 15px;
    }
      .placeHolder::before {
        content: "";
        display: inline-block;
      }
